.tableSettings {
    display: flex;
    margin: 20px 0;
    gap: 10px;
}

.tableSettings button, .pagination button {
    cursor: pointer;
}

button[disabled] {
    cursor: default;
}

.table {
    display: block;
}

.table thead {
    font-weight: 700;
}

td.productTitle {
    min-width: 300px;
}

td.productId {
    min-width: 60px;
}

.pagination {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}
